# Maven
target/

# NetBeans
nbproject/private/
nbbuild/
dist/
.nb-gradle/

# Smart Tomcat
smarttomcat/

# IDE
.idea/
*.iml

# Compilados
*.class

# Librerías (cada desarrollador las agrega localmente)
lib/*.jar

# OS
.DS_Store
Thumbs.db